.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding: 0;
  font-size: small;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 8px 14px;
  cursor: pointer;
  /* background-color: rgb(214, 214, 214); */
  background-image: url("../../icons/Vector-1.svg");
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: #1d54b4;
  /* border-color: #1D54B4/
  /* border-radius: 5px 5px 0 0; */
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #1d54b4;
  border-color: #1d54b4;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
